# Data Preparation: European Social Survey (ESS) | Media Use | Germany

Data from https://www.europeansocialsurvey.org/. Details about the data can be found in ```data/EuropeanSocialSurvey_Round_1-8_codebook.html``` and at https://www.europeansocialsurvey.org/data/country.html?c=germany.

NOTE: The further analysis does not aim to produce representative results, therefore no weights are applied. Please keep that in mind when interpreting and communication the following insights.
*("In general, you must weight tables before quoting percentages from them. The Design weights (DWEIGHT) adjust for different selection probabilities, while the Post-stratification weights (PSPWGHT) adjust for sampling error and non-response bias as well as different selection probabilities." European Social Survey)*

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

sns.set()
%matplotlib inline

## Load & Inspect Data

In [2]:
df = pd.read_csv('data/EuropeanSocialSurvey_Round_1-8_Germany.csv', low_memory=False)
df.head()

,cntry,cname,cedition,cproddat,cseqno,name,essround,edition,idno,dweight,...,ipsuces,ipstrgv,ipadvnt,ipbhprp,iprspot,iplylfr,impenv,imptrad,impfun,regionde
0,DE,ESS1-8e01,1.0,12.12.2018,66876,ESS1e06_6,1,6.6,101114,1.2572,...,5.0,4.0,1.0,5.0,1.0,3.0,2.0,6.0,1.0,1.0
1,DE,ESS1-8e01,1.0,12.12.2018,66877,ESS1e06_6,1,6.6,101120,1.2572,...,2.0,2.0,3.0,2.0,1.0,2.0,1.0,1.0,1.0,1.0
2,DE,ESS1-8e01,1.0,12.12.2018,66878,ESS1e06_6,1,6.6,101126,1.2572,...,1.0,1.0,4.0,2.0,2.0,1.0,1.0,1.0,3.0,1.0
3,DE,ESS1-8e01,1.0,12.12.2018,66879,ESS1e06_6,1,6.6,101304,1.2572,...,1.0,1.0,3.0,2.0,2.0,2.0,2.0,3.0,3.0,1.0
4,DE,ESS1-8e01,1.0,12.12.2018,66880,ESS1e06_6,1,6.6,101322,1.2572,...,2.0,1.0,4.0,4.0,2.0,2.0,2.0,5.0,5.0,1.0

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 23342 entries, 0 to 23341
Columns: 641 entries, cntry to regionde
dtypes: float64(537), int64(82), object(22)
memory usage: 114.2+ MB

In [4]:
df.describe()

,cedition,cseqno,essround,edition,idno,dweight,pspwght,pweight,tvtot,tvpol,...,ipsuces,ipstrgv,ipadvnt,ipbhprp,iprspot,iplylfr,impenv,imptrad,impfun,regionde
count,23342.0,23342.000000,23342.000000,23342.000000,2.334200e+04,23342.000000,23342.000000,23342.000000,20490.000000,20490.000000,...,23236.000000,23236.000000,23236.000000,23236.000000,23236.000000,23236.000000,23236.000000,23236.000000,23236.000000,11456.000000
mean,1.0,78546.500000,4.517394,3.549777,5.434884e+06,1.000037,1.003327,2.421375,4.228453,4.275354,...,3.039336,2.439060,4.283181,2.954510,3.392839,1.761146,2.167628,2.948571,3.191857,8.888530
std,0.0,6738.399328,2.289213,1.392131,6.690049e+06,0.335032,0.543542,0.081915,2.855814,12.416371,...,1.338478,1.336236,1.397601,1.370175,1.390895,0.898181,1.108375,1.440858,1.367940,4.234615
min,1.0,66876.000000,1.000000,2.100000,8.334000e+03,0.418000,0.005292,2.304126,0.000000,0.000000,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000
25%,1.0,72711.250000,3.000000,2.200000,1.862308e+05,0.549900,0.577588,2.335190,3.000000,1.000000,...,2.000000,2.000000,3.000000,2.000000,2.000000,1.000000,1.000000,2.000000,2.000000,5.000000
50%,1.0,78546.500000,5.000000,3.400000,3.264110e+05,1.236953,0.957155,2.400664,4.000000,2.000000,...,3.000000,2.000000,5.000000,3.000000,3.000000,2.000000,2.000000,3.000000,3.000000,9.000000
75%,1.0,84381.750000,7.000000,3.700000,1.006229e+07,1.246500,1.258289,2.452946,6.000000,2.000000,...,4.000000,3.000000,5.000000,4.000000,4.000000,2.000000,3.000000,4.000000,4.000000,13.000000
max,1.0,90217.000000,8.000000,6.600000,4.471100e+07,1.324000,4.112701,2.578558,88.000000,88.000000,...,9.000000,9.000000,9.000000,9.000000,9.000000,9.000000,9.000000,9.000000,9.000000,16.000000

Included ESS rounds and corresponding variable counts:

In [5]:
df.groupby('name').count()

,cntry,cname,cedition,cproddat,cseqno,essround,edition,idno,dweight,pspwght,...,ipsuces,ipstrgv,ipadvnt,ipbhprp,iprspot,iplylfr,impenv,imptrad,impfun,regionde
name,,,,,,,,,,,,,,,,,,,,,
ESS1e06_6,2919,2919,2919,2919,2919,2919,2919,2919,2919,2919,...,2833,2833,2833,2833,2833,2833,2833,2833,2833,2919
ESS2e03_6,2870,2870,2870,2870,2870,2870,2870,2870,2870,2870,...,2870,2870,2870,2870,2870,2870,2870,2870,2870,2870
ESS3e03_7,2916,2916,2916,2916,2916,2916,2916,2916,2916,2916,...,2916,2916,2916,2916,2916,2916,2916,2916,2916,2916
ESS4e04_5,2751,2751,2751,2751,2751,2751,2751,2751,2751,2751,...,2751,2751,2751,2751,2751,2751,2751,2751,2751,2751
ESS5e03_4,3031,3031,3031,3031,3031,3031,3031,3031,3031,3031,...,3031,3031,3031,3031,3031,3031,3031,3031,3031,0
ESS6e02_4,2958,2958,2958,2958,2958,2958,2958,2958,2958,2958,...,2958,2958,2958,2958,2958,2958,2958,2958,2958,0
ESS7e02_2,3045,3045,3045,3045,3045,3045,3045,3045,3045,3045,...,3025,3025,3025,3025,3025,3025,3025,3025,3025,0
ESS8e02_1,2852,2852,2852,2852,2852,2852,2852,2852,2852,2852,...,2852,2852,2852,2852,2852,2852,2852,2852,2852,0

Number of unique respondents over all ESS round:

In [6]:
df['cseqno'].nunique()

23342

## Prepare Data

### Drop columns for content-related reasons:
* cntry, regionde: Not needed, because the dataset only contains values for DE/ Germany
* cname, cedition, edition, name, cproddat: Additional descriptive information for the corresponding ESS and ESS rounds
* idno: cseqno is used as unique respondents identifier over all rounds
* dweight, pspwght, pweight: Like mentioned above, we won't work with any weights for now
* rlgde[x]: Vast majority is encoded with 6666 ('Not applicable') for Germany, other countries not relevant.
* prtv[x] ("Party voted for in last national election" for all countries except Germany)
* prtcl[x] ("Which party feel closer to" for all countries except Germany)
* prtmb[x] ("Member of which party" for all countries except Germany)
* rlgdn[x] ("Religion or denomination belonging to at present" for all countries except Germany)
* cntbrth, cntbrtha, cntbrthb, cntbrthc, ctzship, ctzshipa, ctzshipb, ctzshipc, mocntn, mbrncnt, mbrncnta, fbrncnt, fbrncnta (because the vast majority is encoded with 66 ('Not applicable') in all columns: df['cntbrth'].value_counts())

In [7]:
drop_cols=['cntry', 'regionde', 'cname', 'cedition', 'edition', 'name', 'cproddat', 'idno', 'dweight', 'pspwght', 'pweight', 
           'cntbrth', 'cntbrtha', 'cntbrthb', 'cntbrthc', 'ctzship', 'ctzshipa', 'ctzshipb', 'ctzshipc', 'mocntn', 'mbrncnt',
           'mbrncnta', 'fbrncnt', 'fbrncnta']

In [8]:
# Drop prtv[x], prtcl[x], prtmb[x], rlgdn[x] for all countries except Germany
prtv_germany = ['prtvde1', 'prtvade1', 'prtvbde1', 'prtvcde1', 'prtvdde1', 'prtvede1', 'prtvde2', 'prtvade2', 'prtvbde2', 'prtvcde2', 'prtvdde2', 'prtvede2']
prtcl_germany = ['prtclde','prtclade', 'prtclbde', 'prtclcde', 'prtcldde', 'prtclede']
prtmb_germany = ['prtmbde', 'prtmbade', 'prtmbbde', 'prtmbcde']
rlgdn_germany = ['rlgdnde', 'rlgdnade']

for c in df.columns:
    if 'prtv' in c and c not in prtv_germany:
        drop_cols.append(c)
    elif 'prtcl' in c and c not in prtcl_germany:
        drop_cols.append(c)
    elif 'prtmb' in c and c not in prtmb_germany:
        drop_cols.append(c)
    elif 'rlgdn' in c and c not in rlgdn_germany:
        drop_cols.append(c)
    elif 'rlgde' in c:
        drop_cols.append(c)

In [9]:
df = df.drop(columns=drop_cols)

In [10]:
df.head()

,cseqno,essround,tvtot,tvpol,rdtot,rdpol,nwsptot,nwsppol,netuse,ppltrst,...,iphlppl,ipsuces,ipstrgv,ipadvnt,ipbhprp,iprspot,iplylfr,impenv,imptrad,impfun
0,66876,1,7.0,0.0,0.0,66.0,0.0,66.0,NaN,0,...,5.0,5.0,4.0,1.0,5.0,1.0,3.0,2.0,6.0,1.0
1,66877,1,5.0,2.0,6.0,0.0,2.0,2.0,NaN,6,...,2.0,2.0,2.0,3.0,2.0,1.0,2.0,1.0,1.0,1.0
2,66878,1,5.0,2.0,7.0,2.0,1.0,1.0,NaN,0,...,2.0,1.0,1.0,4.0,2.0,2.0,1.0,1.0,1.0,3.0
3,66879,1,4.0,2.0,6.0,2.0,2.0,1.0,NaN,2,...,1.0,1.0,1.0,3.0,2.0,2.0,2.0,2.0,3.0,3.0
4,66880,1,3.0,0.0,0.0,66.0,1.0,1.0,NaN,0,...,2.0,2.0,1.0,4.0,4.0,2.0,2.0,2.0,5.0,5.0

### Drop Rows for content-related reasons:
* Drop rows for essround 6-8, because we're going to analyse the media use, which has not been completely covered in those rounds.

In [11]:
df = df[df['essround'].isin([1,2,3,4,5])] # Keep rows for round 1-5 only
df.shape

(14487, 204)

### Drop columns due to 100% missing values:
* Drop columns with now values (those columns propably only held values for rounds 6-8)

In [12]:
# Columns that have 100% of missing values
df = df.drop(columns=df.columns[df.isnull().mean() == 1])

### Identify & clean ESS rounds and columns with 100% missing values

* Some variables are encoded in several columns (due to changing encodings of the same question) and have to be combined in one. 
* Other vatiables may be missing in some rounds, because the questionary partly changes inbetween rounds.

In [13]:
def cols_with_missing_rounds(df):
    '''
    DOCSTRING
    # Inspect column values per round
    '''
    df_r = df.groupby('essround').count()
    cols_with_missing_round = []
    for c in df_r.columns:
        if 0 in df_r[c].unique():
            cols_with_missing_round.append(c)
    return df_r[cols_with_missing_round], cols_with_missing_round

In [14]:
def combine_round_columns(df, round_col_mapping, drop_round_cols = True):
    '''
    DOCSTRING
    '''
    for col in round_col_mapping.keys():
        df[col] = np.nan
        drop_cols = []
        for r in range(1,6):
            df.loc[df['essround'] == r, col] = df.loc[df['essround'] == r, round_col_mapping[col][r]]
            drop_cols.append(round_col_mapping[col][r])
        if drop_round_cols:
            df = df.drop(columns=drop_cols)
    return df

**Inspect column values per round**

In [15]:
df_r, cols_with_missing_round = cols_with_missing_rounds(df)
df_r

,netuse,polcmpl,poldcs,trstprt,euftf,prtvde1,prtvade1,prtvbde1,prtvcde1,prtvde2,...,edlvade,edude1,edude2,edude3,edufde1,edufde2,edufde3,edumde1,edumde2,edumde3
essround,,,,,,,,,,,,,,,,,,,,,
1,0,2919,2919,0,0,2919,0,0,0,2919,...,0,0,0,0,0,0,0,0,0,0
2,2870,2870,2870,2870,2870,0,2870,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,2916,2916,2916,2916,2916,0,0,2916,0,0,...,2916,0,0,0,0,0,0,0,0,0
4,2751,2751,2751,2751,2751,0,0,2751,0,0,...,0,0,0,0,0,0,0,0,0,0
5,3031,0,0,3031,0,0,0,0,3031,0,...,0,3031,3031,3031,3031,3031,3031,3031,3031,3031

**Handle missing values due to changed party endocdings:**

After round 1, one more code has been added.
Differences in endcoding between round 1 and the other rounds:
* Round 1: 
    * Code 7 = "Andere Partei"
    * Code 8 not existing
* Further rounds:
    * Code 7 = "National Democratic Party/German People's Union (NPD/DVU)"
    * Code 8 = "Other"

Codes applicable in round 2-5:
1	Social Democratic Party (SPD)
2	Christian Democratic Union (CDU/CSU)
3	Green Party (BÃ¼ndnis 90/Die GrÃ¼nen)
4	Liberal Democratic Party (FDP)
5	Party of Democratic Socialism (PDS)
6	Republican Party (Republikaner)
7	National Democratic Party/German People's Union (NPD/DVU)
8	Other
66	Not applicable
77	Refusal
88	Don't know
99	No answer

In [16]:
plt_cols = [c for c in cols_with_missing_round if c[:3] == "prt"]
df_r[plt_cols]

,prtvde1,prtvade1,prtvbde1,prtvcde1,prtvde2,prtvade2,prtvbde2,prtvcde2,prtclde,prtclade,prtclbde,prtclcde,prtmbde,prtmbade,prtmbbde,prtmbcde
essround,,,,,,,,,,,,,,,,
1,2919,0,0,0,2919,0,0,0,2919,0,0,0,2919,0,0,0
2,0,2870,0,0,0,2870,0,0,0,2870,0,0,0,2870,0,0
3,0,0,2916,0,0,0,2916,0,0,0,2916,0,0,0,2916,0
4,0,0,2751,0,0,0,2751,0,0,0,2751,0,0,0,2751,0
5,0,0,0,3031,0,0,0,3031,0,0,0,3031,0,0,0,3031

In [17]:
# First step: Unify encoding by reencoding the columns from round 1 according to the above differences
for c in ['prtvde1', 'prtvde2', 'prtclde', 'prtmbde']:
    df[c] = df[c].apply(lambda x: 8 if x == 7 else x)

In [18]:
# Second step: Combine columns from different rounds into one
round_col_mapping = {
    'prtvde1_all': {1: 'prtvde1', 2: 'prtvade1', 3: 'prtvbde1', 4: 'prtvbde1', 5: 'prtvcde1'},
    'prtvde2_all': {1: 'prtvde2', 2: 'prtvade2', 3: 'prtvbde2', 4: 'prtvbde2', 5: 'prtvcde2'},
    'prtclde_all': {1: 'prtclde', 2: 'prtclade', 3: 'prtclbde', 4: 'prtclbde', 5: 'prtclcde'},
    'prtmbde_all': {1: 'prtmbde', 2: 'prtmbade', 3: 'prtmbbde', 4: 'prtmbbde', 5: 'prtmbcde'},
}
df = combine_round_columns(df, round_col_mapping)

In [19]:
# Check result
df[list(round_col_mapping.keys()) + ["essround"]].groupby('essround').count()

          prtvde1_all  prtvde2_all  prtclde_all  prtmbde_all
essround
1                2919         2919         2919         2919
2                2870         2870         2870         2870
3                2916         2916         2916         2916
4                2751         2751         2751         2751
5                3031         3031         3031         3031

**Handle missing values due to changed education endocdings:**

In [20]:
df_r, cols_with_missing_round = cols_with_missing_rounds(df)
edu_cols = [c for c in cols_with_missing_round if c[:3] in ("edu", "eis", "edl")]
df_r[edu_cols]

,edulvlb,edufld,edulvlpb,eiscedp,eiscedf,eiscedm,edlvde,edlvade,edude1,edude2,edude3,edufde1,edufde2,edufde3,edumde1,edumde2,edumde3
essround,,,,,,,,,,,,,,,,,
1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
2,0,2870,0,0,0,0,2870,0,0,0,0,0,0,0,0,0,0
3,0,2916,0,0,0,0,0,2916,0,0,0,0,0,0,0,0,0
4,0,2751,0,2751,2751,2751,0,0,0,0,0,0,0,0,0,0,0
5,3031,0,3031,3031,3031,3031,0,0,3031,3031,3031,3031,3031,3031,3031,3031,3031

*Drop all incomplete education columns*

* All above education columns will be dropped, because they have only been included in a subset of the rounds. 
* Further more we can still analyse the variabe 'eisced' which is a generated variable available for all rounds and encodes the "Highest level of education, ES - ISCED".

In [21]:
df = df.drop(columns=edu_cols)

**Handle missing values due to changed martial status endocdings:**

The codes have been changed several times. 

Differences in endcoding will be unified as follows (Note: Category 3('Legally separated') is not a legally recognised status in Germany and therefore will be encoded as "None of these".):

* 1: Legally married/ Legally registered civil union/ civil partnership <- marital: (1, 2); maritala: (1, 2, 3, 4), maritalb: (1, 2)
* 2: Divorced/ Dissolved civil partnership <- marital: (3); maritala: (5, 7), maritalb: (4)
* 3: Widowed/ civil partner died <- marital: (4); maritala: (6, 8), maritalb: (5)
* 4: Never married or in legally registered civil union <- marital: (5); maritala: (9), maritalb: (3, 6)
* 77: Refusal <- marital: (7);
* 88: Don't know <- marital: (8);
* 99: No answer <- marital: (9);

In [22]:
df_r, cols_with_missing_round = cols_with_missing_rounds(df)
edu_cols = [c for c in cols_with_missing_round if c[:5] in ("marit", "marst")]
df_r[edu_cols]

          marsts  marital  maritala  maritalb
essround
1              0     2919         0         0
2              0     2870         0         0
3              0        0      2916         0
4              0        0      2751         0
5           3031        0         0      3031

In [23]:
# First step: Unify encoding by reencoding the columns from round 1 according to the above differences
martial_map = {1: 1, 2: 1, 3: 2, 4: 3, 5: 4, 7: 77, 8: 88, 9: 99}
df['marital'] = df['marital'].apply(lambda x: martial_map[x] if not np.isnan(x) else x)

In [24]:
maritala_map = {1: 1, 2: 1, 3: 1, 4: 1, 5: 2, 6: 3, 7: 2, 8: 3, 9: 4, 77: 77, 88: 88, 99: 99}
df['maritala'] = df['maritala'].apply(lambda x: maritala_map[x] if not np.isnan(x) else x)

In [25]:
martialb_map = {1: 1, 2: 1, 3: 4, 4: 2, 5: 3, 6: 4, 77: 77, 88: 88, 99: 99}
df['maritalb'] = df['maritalb'].apply(lambda x: martialb_map[x] if not np.isnan(x) else x)

In [26]:
# Second step: Combine columns from different rounds into one
round_col_mapping = {
    'marital_all': {1: 'marital', 2: 'marital', 3: 'maritala', 4: 'maritala', 5: 'maritalb'}
}
df = combine_round_columns(df, round_col_mapping)

In [27]:
# Drop marst column, because it's redundan (In round 5, this valriable has been encoded twice. We used 'maritalb' instead of 'marsts').
df = df.drop(columns=['marsts'])

In [28]:
# Check result
df[list(round_col_mapping.keys()) + ["essround"]].groupby('essround').count()

          marital_all
essround
1                2919
2                2870
3                2916
4                2751
5                3031

**Handle missing values due to changed language endocdings**

* Language columns in round 1-5 are all to be coded into pre-specified ISO 693-2 (3-character) and therefore can be combined without prior unifying.
* lnghoma/ lnghom1: "Language most often spoken at home: first mentioned"
* lnghomb/ lnghom2: "Language most often spoken at home: second mentioned"

In [29]:
df_r, cols_with_missing_round = cols_with_missing_rounds(df)
language_cols = [c for c in cols_with_missing_round if c[:5] in ("lngho")]
df_r[language_cols]

          lnghoma  lnghom1  lnghomb  lnghom2
essround
1            2919        0     2919        0
2            2870        0     2870        0
3            2916        0     2916        0
4            2751        0     2751        0
5               0     3031        0     3031

In [30]:
# Combine columns from different rounds into one
round_col_mapping = {
    'lnghom1_all': {1: 'lnghoma', 2: 'lnghoma', 3: 'lnghoma', 4: 'lnghoma', 5: 'lnghom1'},
    'lnghom2_all': {1: 'lnghomb', 2: 'lnghomb', 3: 'lnghomb', 4: 'lnghomb', 5: 'lnghom2'},
}
df = combine_round_columns(df, round_col_mapping)

In [31]:
# Check result
df[list(round_col_mapping.keys()) + ["essround"]].groupby('essround').count()

          lnghom1_all  lnghom2_all
essround
1                2919         2919
2                2870         2870
3                2916         2916
4                2751         2751
5                3031         3031

**Handle missing values due changed income endocdings:**

* The annual income encoding is not only changing inbetween countries but also years.
* In round 4 the logic for building intervalls has been changed to relational values (compared to the average income).
* Due to those changes, there is no possibility to unify the encoding for the actual income.
* Instead, we're buildng a new feature, which only indicates a rough income estimation by squeezing the income intervalls from round 1-3 into the new logic.
* In this step, we're also reducing the number of intervals for simplification.

*Original encodings:*

    Code = Intervall: Round 1 --> Round 4 --> Round 5
    1 = J: weniger als 1.800 --> 0-13200  --> 0-11340
    2 = R: 1.800 bis unter 3.600 --> 13201-17500 --> 11341-15420
    3 = C: 3.600 bis unter 6.000 --> 17501-22100 --> 15421-18950
    4 = M: 6.000 bis unter 12.000 --> 22101-27000 --> 18951-22630
    5 = F: 12.000 bis unter 18.000 --> 27001-32500 --> 22631-26500
    6 = S: 18.000 bis unter 24.000 --> 32501-38300 --> 26501-30700
  
    7 = K: 24.000 bis unter 30.000 --> 38301-45200 --> 30701-35710
    
    8 = P: 30.000 bis unter 36.000 --> 45201-54600 --> 35711-42380
    9 = D: 36.000 bis unter 60.000 --> 54601-70400 --> 42381-53770
    
    10 = H: 60.000 bis unter 90.000 --> > 70400 --> > 53771
    11 = U: 90.000 bis unter 120.000 
    12 = N: > 120.000
    77 = Refusal
    88 = Don't know
    99 = No answer

*New feature hincome_approx*
    
    1: [0-12000) --> Round 1,2,3: (1, 2, 3, 4), Round 4, 5: (1)
    2: [12000-24000) --> Round 1,2,3: (5, 6), Round 4, 5: (2, 3, 4)
    3: [24000-36000) --> Round 1,2,3: (7, 8), Round 4, 5: (5, 6, 7)
    4: [36000-60000) --> Round 1,2,3: (9), Round 4, 5: (8, 9)
    5: [60000-infinity) --> Round 1,2,3: (10, 11, 12), Round 4, 5: (10)

In [32]:
df_r, cols_with_missing_round = cols_with_missing_rounds(df)
income_cols = [c for c in cols_with_missing_round if c[:5] in ("hinct")]
df_r[income_cols]

          hinctnt  hinctnta
essround
1            2919         0
2            2870         0
3            2916         0
4               0      2751
5               0      3031

In [33]:
# First step: Unify encoding by reencoding the columns from round 1 according to the above differences
hinctnt_map = {1: 1, 2: 1, 3: 1, 4: 1, 5: 2, 6: 2, 7: 3, 8: 3, 9: 4, 10: 5, 11: 5, 12: 5, 77: 77, 88: 88, 99: 99}
df['hinctnt'] = df['hinctnt'].apply(lambda x: hinctnt_map[x] if not np.isnan(x) else x)

hinctnta_map = {1: 1, 2: 2, 3: 2, 4: 2, 5: 3, 6: 3, 7: 3, 8: 4, 9: 4, 10: 5, 77: 77, 88: 88, 99: 99}
df['hinctnta'] = df['hinctnta'].apply(lambda x: hinctnta_map[x] if not np.isnan(x) else x)

In [34]:
# Combine columns from different rounds into one
round_col_mapping = {
    'hincome_approx': {1: 'hinctnt', 2: 'hinctnt', 3: 'hinctnt', 4: 'hinctnta', 5: 'hinctnta'}
}
df = combine_round_columns(df, round_col_mapping)

In [35]:
# Check result
df[list(round_col_mapping.keys()) + ["essround"]].groupby('essround').count()

          hincome_approx
essround
1                   2919
2                   2870
3                   2916
4                   2751
5                   3031

**Handle missing values due to changing questionnaires:**
* Some questions have not been asked in every round.
* The following varibales therefore will be dropped:
    * brghmwr ("How often worry about your home being burgled")
    * brghmef ("Worry about home burgled has effect on quality of life")
    * crvctwr ("How often worry about becoming a victim of violent crime")
    * crvctef ("Worry about becoming victim of violent crime has effect on quality of life")
    * livecnta ("What year you first came to live in country")
    * trrenyr ("How likely terrorist attack in Europe during next twelve months")
    * trrcnyr ("How likely terrorist attack in country during next twelve months")
    * trrprsn ("Terrorist suspect in prison until police satisfied")
    * trrtort ("Torture in country never justified even to prevent terrorist attack")
    * euftf ("European Union: European unification go further or gone too far")
    * rlgdnde ("Religion or denomination belonging to at present, Germany")
    * dvrcdev ("Ever been divorced")
    * tporgwk ("What type of organisation work/worked for")
    * mbltph ("Personally have mobile telephone")
    * inttph ("Use the Internet for telephone calls at home")
    * facntn ("From which of these continents does your father originally come?")
    * netuse ("Personal use of internet/e-mail/www")
    * polcmpl ("Politics too complicated to understand")
    * poldcs ("Making mind up about political issues")
    * trstprt ("Trust in political parties")
    * livecntr ("How long ago first came to live in country")

In [36]:
df_r, cols_with_missing_round = cols_with_missing_rounds(df)
incomplete_cols = ['brghmwr', 'brghmef', 'crvctwr', 'crvctef','livecnta', 'trrenyr', 'trrcnyr', 'trrprsn', 'trrtort', 'euftf', 
                   'rlgdnde', 'dvrcdev', 'tporgwk', 'mbltph', 'inttph', 'facntn', 'netuse', 'polcmpl', 'poldcs', 'trstprt', 'livecntr']
df_r[incomplete_cols]

,brghmwr,brghmef,crvctwr,crvctef,livecnta,trrenyr,trrcnyr,trrprsn,trrtort,euftf,...,dvrcdev,tporgwk,mbltph,inttph,facntn,netuse,polcmpl,poldcs,trstprt,livecntr
essround,,,,,,,,,,,,,,,,,,,,,
1,0,0,0,0,0,0,0,0,0,0,...,2919,0,0,0,2919,0,2919,2919,0,2919
2,0,0,0,0,0,0,0,0,0,2870,...,2870,0,0,0,0,2870,2870,2870,2870,2870
3,2916,2916,2916,2916,0,2916,2916,2916,2916,2916,...,2916,0,2916,2916,0,2916,2916,2916,2916,2916
4,2751,2751,2751,2751,0,2751,2751,2751,2751,2751,...,2751,2751,2751,2751,0,2751,2751,2751,2751,2751
5,3031,3031,3031,3031,3031,0,0,0,0,0,...,0,3031,0,0,0,3031,0,0,3031,0

In [37]:
# Drop incomplete columns
df = df.drop(columns=incomplete_cols)

### Identify & handle further missing values

In [38]:
# All columns with missing values miss the same amount of values, which indicates some rows might have missing values for all of those columns.
df.isnull().sum().sort_values(ascending=False)[:25]

ipfrule    86
ipadvnt    86
ipcrtiv    86
imprich    86
ipeqopt    86
ipshabt    86
impsafe    86
impdiff    86
ipudrst    86
ipmodst    86
ipgdtim    86
impfree    86
iphlppl    86
ipstrgv    86
ipsuces    86
ipbhprp    86
iprspot    86
iplylfr    86
impenv     86
imptrad    86
impfun     86
prtdgcl     0
stfdem      0
stfgov      0
bctprd      0
dtype: int64

In [39]:
# Like assumed above, exactly 86 rows contain missing values
df.isnull().any(axis=1).sum()

86

In [40]:
df[df.isnull().any(axis=1)].index

Int64Index([ 132,  306,  309,  402,  410,  426,  431,  443,  446,  491,  583,
             600,  601,  668,  678,  729,  735,  743,  781,  783,  876,  966,
             987, 1019, 1046, 1053, 1063, 1083, 1161, 1206, 1219, 1225, 1273,
            1280, 1317, 1320, 1323, 1326, 1372, 1419, 1439, 1470, 1493, 1510,
            1541, 1545, 1570, 1577, 1584, 1606, 1663, 1674, 1675, 1725, 1742,
            1775, 1777, 1826, 1842, 1894, 1914, 1950, 1953, 1960, 1961, 1989,
            1991, 1994, 2020, 2113, 2265, 2289, 2301, 2339, 2410, 2450, 2475,
            2606, 2618, 2620, 2784, 2792, 2805, 2837, 2881, 2902],
           dtype='int64')

**Drop rows with missing values**

* The pattern of missing values in the 86 rows (exactly the same columns seems to be nan) indicates a gap in the data collection process.
* Therfore, those rows will be dropped instead of encoding them with "No answer" which could lead to false conclusions (maybe, thos respondents actually *did* answer or would have answered something else).

In [41]:
df = df.drop(df[df.isnull().any(axis=1)].index)

In [42]:
# Double check that no column misses any value anymore
df.isnull().any(axis=1).sum()

0

## Save Prepared Data

In [44]:
df.to_csv('data/EuropeanSocialSurvey_Round_1-5_Germany_clean.csv')